*

!*/
!.gitignore
!.gitmessage
!README.md
!reference/**/*.pdf
!.editorconfig
!.clang-tidy
!.githooks/*
!riscv-asm/main.c
!riscv-asm/**/*.rs
!src/**/*.cpp
!src/**/*.hpp
!src/**/*.inl
!Makefile
!note/*.md
!note/**/*.png
!docs/*.pdf
!test/**/*.rs
!.github/**/*.yml

src/ast/accept.cpp
!src/generate_accept.pl
